{% extends "base.html" %}

{% load static %}

{% block title %}Kolarska Odznaka Turystyczna{% endblock %}

{% block content %}
<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis mb-4">Kolarska Odznaka Turystyczna</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Zdobądź odznakę PTTK, zwiedzając obiekty krajoznawcze w Polsce.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href=""><button type="button" class="btn btn-success btn-lg px-4 gap-3">Mapa miejsc</button></a>
        <a href=""><button type="button" class="btn btn-outline-secondary btn-lg px-4">Lista miejsc</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
