{% extends "base.html" %}

{% load static %}
{% load leaflet_tags %}

{% block title %}Lista obiektów KOT{% endblock %}

{% block imports %}
  <script src="{% static 'plugins/leaflet.ajax.min.js' %}"></script>
{% endblock %}

{% block style %}
<style>
  #map {
    height: 65vh;
  }
  .zoomTo:hover {
    cursor: pointer;
  }
  div.ex1 {
    height: 65vh;
    overflow-y: scroll;
  }
  thead {
    position: sticky;
    top: 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="my-3 text-center">
    <h2 class="fw-bold text-body-emphasis">
        Lista obiektów Kolarskiej Odznaki Turystycznej
    </h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col ex1">
      <div class="px-4 text-left">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="bg-success text-white">#</th>
              <th class="bg-success text-white">województwo</th>
              <th class="bg-success text-white">miejscowość</th>
              <th class="bg-success text-white">obiekt</th>
              <th class="bg-success text-white">mapa</th>
            </tr>
          </thead>
          <tbody id="tbl-list-body"></tbody>
        </table>
      </div>
    </div>
    <div class="col">
      {% leaflet_map "map" callback="window.map_init" %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function stylePoint() {
    return {
      radius: 6,
      color: 'green',
      weight:3,
      fillColor: 'white',
      fillOpacity: 1
    }
  };

  function map_init (map, options) {

    var tbl = document.getElementById('tbl-list-body');

    var kotPlaces = new L.GeoJSON.AJAX("{% url 'dataset-places' %}", {
      onEachFeature: function (feature, layer) {
        var tr = document.createElement('tr');
        var td1 = document.createElement('td');
        var td2 = document.createElement('td');
        var td3 = document.createElement('td');
        var td4 = document.createElement('td');
        var td5 = document.createElement('td');
        td5.setAttribute('class', 'zoomTo');

        var latLng = L.latLng(feature.geometry.coordinates[1],
          feature.geometry.coordinates[0]
        );

        td1.innerText = feature.id;
        td2.innerText = feature.properties.voivodeship;
        td4.innerText = feature.properties.name;
        td5.innerText = feature.geometry.coordinates[1] + ' °N' + '\n' +
                        feature.geometry.coordinates[0] + ' °E';

        var a = document.createElement('a');
        a.setAttribute('href', '/obiekt/' + feature.id);
        a.setAttribute('title', 'Szczegóły')
        a.innerText = feature.properties.localization;
        td3.appendChild(a);

        td5.setAttribute('title', 'Przybliż na mapie')
        td5.onclick = function () {
          map.flyTo(latLng, 15);

          var popup = L.popup();
          popup.setLatLng(latLng);
          popup.setContent(feature.properties.name);
          popup.openOn(map);
        };

        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);
        tr.appendChild(td5);

        tbl.appendChild(tr);


      },
      pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, stylePoint(feature))
      }
    });

    kotPlaces.addTo(map);

  }
</script>
{% endblock %}